:root {
  --basic-color: #212121;
  --pale-color: #afb1b8;
  --accent-color: #2196f3;
  --main-color: #000000;
  --white-color: #ffffff;
  --paragr-gris-color: #757575;
}

body {
  color: var(--basic-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  margin: 10px; /* добален для меня для наглядности  */
}

.list {
  list-style: none;

  padding-left: 0px;
}

/* logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-part {
  color: var(--main-color);
}
.link {
  text-decoration: none;
}

/* Новигация  */
.site-nav .nav-item {
  color: var(--basic-color);
  /* дает ссылкам  новигации цвет принудительно  */

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .nav-item:hover,
.site-nav .nav-item:focus {
  color: var(--accent-color);
}

.site-nav .thisone {
  color: var(--accent-color);
}

.site-nav > link {
  text-decoration: none;
}

.contacts .contact-item {
  color: var(--paragr-gris-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .contact-item:hover,
.contacts .contact-item:focus {
  color: var(--accent-color);
}

.contacts link {
  text-decoration: none;
}

/* начало, заголовок  */
.hero {
  background-color: rgba(50, 50, 50, 50);
  text-align: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-transform: uppercase;
}

.order-button {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  display: inline-block;
}

.hero .order-button:hover,
.hero .order-button:focus {
  background-color: var(--pale-color);
}

/* Секция1 Особенности компании - features */

.invisible-title {
  color: rgba(50, 50, 50, 0.2);
}

.features-list .features-titele {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .feature-text {
  color: var(--paragr-gris-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

/* Секция 2 - Чем мы занимаемся  */
/* .solutions {}

.solutions .item {
     } */

.solutions-title {
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Секция 3 Наша команда  КАРТОЧКИ */
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .position {
  color: var(--paragr-gris-color);
  font-size: 16px;
  line-height: 19px;
}

.team {
  background: #f5f4fa;
}

/* Секция 4 Постоянные клиенты
.clients { 

} */
/*   ПОДВАЛ  */

.footer {
  background: #2f303a;
}

.footer .logo {
  font-size: 22px;
  line-height: 1.18;
}

.footer .logo-white {
  color: var(--white-color);

  font-size: 22px;
  line-height: 1.18;
}

.footer .adress {
  color: var(--white-color);

  line-height: 1.71;
}

.footer .tel,
.footer .mail {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer .exclamation {
  color: var(--white-color);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-links .link {
  color: var(--paragr-gris-color);
  text-decoration: none;

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.about {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  line-height: 2;

  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}

.footer-links .link:hover,
.footer-links .link:focus {
  color: var(--accent-color);
}

/* ----- СТРАНИЧКА 2_ портфолио-------  */

.button-pf {
  background-color: #f5f4fa;
  background: #f5f4fa;
  color: var(--basic-color);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
}

.button-pf:hover,
.button-pf:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button-pf:active {
  color: tomato;
}

.pf-descr {
  color: var(--paragr-gris-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.pf-text {
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
.filter-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-list .link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

/* 
color: #2196F3;    Лого  голубой  + ховер 
color: #FFFFFF;    h1, услуги h2  -  белый 
color: #000000;    услуги  h 
color: #212121;    карточка h, новигация  
color: #757575;    карточка параграф и номер телефона  
 */
/* 
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;  500 

 font-family: Roboto;
font-style: normal;
font-weight: bold; 700 

 font-family: Roboto;
font-style: normal;
font-weight: normal; 400

font-family: Roboto;
font-style: normal; 400
font-weight: 900;


font-family: Raleway;
font-style: normal; 400 
font-weight: bold */
